apiVersion: metalk8s.scality.com/v1alpha3
kind: BootstrapConfiguration
networks:
  controlPlane:
    cidr: {{ mk8s.networks.controlPlane.subnet }}
  workloadPlane:
    cidr: {{ mk8s.networks.workloadPlane.subnet }}
    mtu: {{ mk8s.networks.workloadPlane.mtu }}
  pods: {{ mk8s.networks.pods.subnet }}
  services: {{ mk8s.networks.services.subnet }}
proxies:
  http:
  https:
  no_proxy:
    - 127.0.0.1
    - {{ mk8s.networks.controlPlane.subnet }}
ca:
{% for host in groups['bootstrap'] %}
  minion: {{ ansible_fqdn }}
{% endfor %}
archives:
  - {{ mk8s.local_mount }}

