apiVersion: v1
kind: Node
metadata:
  name: {{ ansible_fqdn }}
  annotations:
    metalk8s.scality.com/ssh-key-path: /etc/metalk8s/pki/salt-bootstrap
    metalk8s.scality.com/ssh-host: {{ ansible_default_ipv4.address }}
    metalk8s.scality.com/ssh-sudo: 'false'
  labels:
    metalk8s.scality.com/version: {{ env_deploy_version }}
{% for role in roles %}
    node-role.kubernetes.io/{{ role }}: ''
{% endfor %}

spec:
  taints:
{% for taint in roles %}
  - effect: NoSchedule
    key: node-role.kubernetes.io/{{ taint }}
{% endfor %}