---
apiVersion: storage.metalk8s.scality.com/v1alpha1
kind: Volume
metadata:
  name: {{ ansible_fqdn }}-alertmanager
spec:
  nodeName: {{ ansible_fqdn }}
  storageClassName: metalk8s
  rawBlockDevice:
    devicePath: /dev/mapper/{{ mk8s.vg }}-alertmanager_lv
  template:
    metadata:
      labels:
        app.kubernetes.io/name: "prometheus-operator-alertmanager"
